@media (min-width: 42em) {
  .grid {
    grid-template-columns: repeat(1);
  }
}
#selling-plan-fieldset {
  background-color: var(--plan-select-bg);
  z-index: 0;
  display: block;
}
.inflowkit-card {
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  position: relative;
  width: "100%";
  margin: 0.5rem;
  display: block;
}

.inflowkit-card:hover {
  box-shadow: 5px 5px 10px rgba(15, 5, 5, 0.15);
}

.inflowkit-card .radio {
  font-size: inherit;
  margin: 0;
  position: absolute;
  right: calc(var(--card-padding) + var(--radio-border-width));
  top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .inflowkit-card .radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);
  }

  .inflowkit-card-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    width: 100%;
    padding: 1rem;
    font-size: var(--card-fontsize);
  }

  .inflowkit-card .radio::after {
    border: var(--radio-border-width) solid #fff;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.75rem;
    left: 25%;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 0.375rem;
  }

  .inflowkit-card .radio:checked {
    background: var(--color-green);
    border-color: var(--color-green);
  }

  .inflowkit-card:hover .radio {
    border-color: var(--color-dark-gray);
  }

  .inflowkit-card:hover .radio:checked {
    border-color: var(--color-green);
  }
}

.plan-details {
  border: var(--radio-border-width) solid var(--color-gray);
  border-radius: var(--card-radius);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
  color: var(--discount-color);
}

.card:hover .plan-details {
  border-color: var(--color-dark-gray);
}

.inflowkit-card .radio:checked ~ .plan-details {
  border-color: var(--color-green);
}

.inflowkit-card .radio:focus ~ .plan-details {
  box-shadow: 0 0 0 2px var(--color-dark-gray);
}

.inflowkit-card .radio:disabled ~ .plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}

.inflowkit-card .radio:disabled ~ .plan-details .plan-type {
  color: var(--color-dark-gray);
}

.inflowkit-card:hover .radio:disabled ~ .plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}

.inflowkit-card:hover .radio:disabled {
  border-color: var(--color-gray);
}

.plan-type {
  color: var(--color-green);
  font-size: var(--card-fontsize) px;
  font-weight: bold;
  line-height: 1em;
}

.plan-cost {
  font-size: var(--card-fontsize) px;
  font-weight: bold;
  padding: 0.1rem 0;
}

.slash {
  font-weight: normal;
}

.plan-cycle {
  font-size: var(--card-fontsize) px;
  font-variant: none;
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.hidden-visually {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.show_group {
  display: block;
}

.hide_group {
  display: none;
}
